.blog-card {
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-card-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.blog-card-content {
  padding: 20px;
}

.blog-card-date {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.blog-card-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.blog-card-desc {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.blog-card-btn {
  padding: 10px 18px;
  border: 1px solid #c45857;
  background: #c45857;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.blog-card-btn:hover {
  background: transparent;
   border: 1px solid #c45857;
   box-shadow: 1px 2px 4px #c45857;
   color: #c45857;
}
